In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os

In [2]:
### Demographic Analysis 

r = requests.get("https://www.worldometers.info/coronavirus/coronavirus-age-sex-demographics/")
html = r.text
dfs = pd.read_html(html)

In [3]:
# Age

df_age = dfs[0]
df_age.columns = df_age.iloc[0]
df_age = df_age[1:].set_index("AGE")
df_age

0               DEATH RATE confirmed cases DEATH RATE all cases
AGE
80+ years old                        21.9%                14.8%
70-79 years old                        NaN                 8.0%
60-69 years old                        NaN                 3.6%
50-59 years old                        NaN                 1.3%
40-49 years old                        NaN                 0.4%
30-39 years old                        NaN                 0.2%
20-29 years old                        NaN                 0.2%
10-19 years old                        NaN                 0.2%
0-9 years old                          NaN        no fatalities

In [4]:
# Gender

df_gender = dfs[1]
df_gender.columns = df_gender.iloc[0]
df_gender = df_gender[1:].set_index("SEX")
df_gender

0      DEATH RATE confirmed cases DEATH RATE all cases
SEX
Male                         4.7%                 2.8%
Female                       2.8%                 1.7%

In [5]:
# Pre-existing Medical Conditions

df_health = dfs[2]
df_health.columns = df_health.iloc[0]
df_health = df_health[1:].set_index("PRE-EXISTING CONDITION")
df_health

0                           DEATH RATE confirmed cases DEATH RATE all cases
PRE-EXISTING CONDITION
Cardiovascular disease                           13.2%                10.5%
Diabetes                                          9.2%                 7.3%
Chronic respiratory disease                       8.0%                 6.3%
Hypertension                                      8.4%                 6.0%
Cancer                                            7.6%                 5.6%
no pre-existing conditions                         NaN                 0.9%

In [6]:
### Covid-19 Death Toll 

r = requests.get("https://www.worldometers.info/coronavirus/")
html_text = r.text
dfs = pd.read_html(html_text)

df = dfs[0]

df = df[["Country,Other", "TotalCases", "TotalDeaths", "TotalRecovered"]]
df = df.rename(columns={"Country,Other":"Country"})
df = df.set_index("Country")
df = df.fillna(0)
df["DeathToll"] = df["TotalDeaths"] / df["TotalCases"]

df

           TotalCases  TotalDeaths  TotalRecovered  DeathToll
Country
China           80778       3158.0         61488.0   0.039095
Italy           10149        631.0          1004.0   0.062174
Iran             8042        291.0          2731.0   0.036185
S. Korea         7755         61.0           288.0   0.007866
France           1784         33.0            12.0   0.018498
...               ...          ...             ...        ...
Mongolia            1          0.0             0.0   0.000000
St. Barth           1          0.0             0.0   0.000000
Togo                1          0.0             0.0   0.000000
Turkey              1          0.0             0.0   0.000000
Total:         119217       4299.0         66563.0   0.036060

[120 rows x 4 columns]

In [31]:
path = os.path.join("static", "resources", "world_bank.csv")
df_worldbank = pd.read_csv(path)

df_worldbank = df_worldbank.iloc[:30, [0, 2, 3, 6, 7, 8, 10, 11, 12, 14]]

df_worldbank

,Year,Country Name,Country Code,Current health expenditure (% of GDP) [SH.XPD.CHEX.GD.ZS],Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD],Domestic general government health expenditure (% of GDP) [SH.XPD.GHED.GD.ZS],Out-of-pocket expenditure per capita (current US$) [SH.XPD.OOPC.PC.CD],People using at least basic sanitation services (% of population) [SH.STA.BASS.ZS],People using safely managed sanitation services (% of population) [SH.STA.SMSS.ZS],Population ages 65 and above (% of total population) [SP.POP.65UP.TO.ZS]
0,2016,China,CHN,4.98188075,398.33155573,2.89025126,143.02566618,83.2351730239196,68.2467884522588,9.802631
1,2016,France,FRA,11.53929503,4263.36156106,9.56559676,415.94394399,98.6508061199955,88.3720689819745,19.284125
2,2016,Germany,DEU,11.13916763,4714.2608733,9.43162482,585.02057791,99.2249259262689,97.2305733379113,21.288710
3,2016,"Iran, Islamic Rep.",IRN,8.10277065,415.39119979,4.41807148,161.14568568,88.3552590553333,..,5.914569
4,2016,Italy,ITA,8.93549301,2738.70612439,6.65374499,632.79735852,98.7718901962979,96.2032130630306,22.234861
5,2016,Japan,JPN,10.92612327,4233.0332764,9.13267407,569.43225333,99.9024173222271,98.8008105881152,26.591817
6,2016,"Korea, Rep.",KOR,7.33752488,2043.86063994,4.34050531,680.81667604,100,99.8611113650301,13.337940
7,2016,Spain,ESP,8.97038932,2389.88740785,6.39032348,569.42344714,99.9042864325663,96.6202298628794,18.910541
8,2016,Switzerland,CHE,12.24760438,9835.96368572,7.68887756,2907.68387141,99.8903626469298,99.5390052221761,18.228904
9,2016,United States,USA,17.07341533,9869.74238174,13.97379764,1094.2265076,99.9698121431811,89.906899193335,15.033679
10,2017,China,CHN,..,..,..,..,84.7607877105451,72.0822720245711,10.345120
11,2017,France,FRA,..,..,..,..,98.6500115526393,88.371357205017,19.668997
12,2017,Germany,DEU,..,..,..,..,99.2250375649813,97.2331982575299,21.371488
13,2017,"Iran, Islamic Rep.",IRN,..,..,..,..,88.4218671015005,..,6.038705
14,2017,Italy,ITA,..,..,..,..,98.7724326744163,96.2080135672536,22.499689
15,2017,Japan,JPN,..,..,..,..,99.8947075676591,98.7603578365802,27.109479
16,2017,"Korea, Rep.",KOR,..,..,..,..,100,99.904308772177,13.852248
17,2017,Spain,ESP,..,..,..,..,99.9042308892552,96.6201761453896,19.145849
18,2017,Switzerland,CHE,..,..,..,..,99.8903735152104,99.5393104753731,18.430867
19,2017,United States,USA,..,..,..,..,99.9700187653163,89.9669981106111,15.419366
20,2018,China,CHN,..,..,..,..,..,..,10.920884
21,2018,France,FRA,..,..,..,..,..,..,20.034625
22,2018,Germany,DEU,..,..,..,..,..,..,21.461962
23,2018,"Iran, Islamic Rep.",IRN,..,..,..,..,..,..,6.184574
24,2018,Italy,ITA,..,..,..,..,..,..,22.751680
25,2018,Japan,JPN,..,..,..,..,..,..,27.576370
26,2018,"Korea, Rep.",KOR,..,..,..,..,..,..,14.418556
27,2018,Spain,ESP,..,..,..,..,..,..,19.378508
28,2018,Switzerland,CHE,..,..,..,..,..,..,18.623217
29,2018,United States,USA,..,..,..,..,..,..,15.807654

In [36]:
health_cost_gdp_2016 = df_worldbank.iloc[:10, [1, 2, 3]]

health_cost_percapita_2016 = df_worldbank.iloc[:10, [1, 2, 4]] 

gov_health_cost_gdp_2016 = df_worldbank.iloc[:10, [1, 2, 5]] 

out_of_pocket_percapita_2016 = df_worldbank.iloc[:10, [1, 2, 6]] 

basic_sanitation_2017 = df_worldbank.iloc[10:20, [1, 2, 7]] 

population_old_2018 = df_worldbank.iloc[20:, [1, 2, 9]]